/* start counter style 
   =========comment==========*/
#counter{
      background:linear-gradient(to left, #02070fc5, #030812b3),url(../images/about_counter.png) no-repeat center / cover;
      padding: 40px 0;

      h2{
            font-size: 40px;
            color: #fff;
      }
      h6{
            font-size: 16;
            color: #fff;
            font-weight: 400;
            margin-top: 5px;
      }
}
/* end counter style 
   =========comment==========*/
  