/* start common style 
   =========comment==========*/
   #contact{
      padding: 60px 0;
      h5{
            font-size: 20px;
            color: #222222;
      }
   }
   .conatact_heading{
      margin-bottom: 15px;
      
   }
   .contact-form{
      input{
            border: 1px solid #353535;
            width: 48.7%;
            margin-top: 20px;
            font-size: 14px;
            color: #777777;
            padding: 10px 8px;
      }
      .contact-email,.contact-location {
            margin-left: 15px;
          }
              
   }
   .contact-textarea{
      textarea{
            width: 99.5%;
            padding: 10px 10px;
            margin-top: 20px;
      
      }
      position: relative;

   }
 .send-button{
      position: absolute;
      bottom: 2.4px;
      right: 4px;
      a{
            background: red;
            height: 80px;
            width: 70px;
            clip-path: polygon(46% 64%, 100% 21%, 100% 100%, 0 100%);
            i{
                  color: #222222;
                  margin-top: 50px;
                  margin-left: 40px;
                  font-size: 20px;
            }
      }
 }
 .contact-with{
      h5{
            margin-bottom: 13px;
      }
      p{
            font-size: 15px;
            padding: 10px 0;
      }
 
  .contact-details{
      margin-top: 22px;
      p{
            font-size: 15px;
            padding: 16px 0;
        }
        i{
            font-size: 14px;
            color: #de4644;
            margin-right: 20px;
        }
  }
 }
#google-location{
      padding-bottom: 50px;
}
 #google-map{
 height: 400px;
 width: 100%;
 
 }


