/* start latest_product style 
   ===================*/
  #latest_product{
      padding: 50px 0 80px 0;
      position: relative;
   }
   .product_heading{

            h2{
                  font-size: 40px;
                  font-weight: 400;
                  color: #222222;
                  text-transform: capitalize;
                  position: relative;
                  display: inline-block;
                  &::before{
                        position: absolute;
                        height: 2px;
                        width: 172px;
                        background: #de4644;
                        left: 2px;
                        bottom: -6px;
                        content: "";
                  }
                  &::after{
                        position: absolute;
                        height: 2px;
                        width: 90px;
                        background: #de4644;
                        left: 2px;
                        bottom:-10px;
                        content: "";
                  }
      }
   }
   .product_part{
      .slick-slide{
          padding: 0 12px;
      }
}

.ptoduct_img{
      position: relative;
      .overlay_product{
            position: absolute;
            width: 0%;
            height: 100%;
            background: #3e3e3dcd;
            top: 0;
            right: 0;
            content: "";
            opacity: 0;
            transition: .5s;
      }
      .overlay-item{
            position: absolute;
            top: 30%;
            left: 30%;
            i{
                  display: block;
                  font-size: 20px;
                  color: #fff;
                  height: 40px;
                  width: 40px;
                  border: 1px solid #ffff;
                  border-radius: 50%;
                  line-height:40px;
                  text-align: center;
                  margin-bottom: 14px;
                  transition: .5s;
                  &:hover{
                        background: #de4644;
                        border: 1px solid transparent;
                       }
                  
            }
            
      }
      &:hover .overlay_product{
        opacity: 1;
        width: 30%;
      }
}
.phone_details{
      margin-top: 15px;
      h5{
            font-size: 16px;
            font-weight: 400;
      }
      i{
            color: #de4644;
            font-size: 14px;
      }
      
}
.product_item{
      .price{
     
            margin-top: 6px;
            margin-left: 36px;
         
      h5{
            font-size: 16px;
            font-weight: 400; 
            color: #222222;
      }
      
      }

}
.item_product{
      .price {
        margin-left: 43px;
        margin-top: 13px;
      }
      h5{
      font-size:16px;
      color: #222222;
      }
      
}

.product_prev{
      position: absolute;
      left: 50%;
      bottom: 25px;
      color: #222222;
      height: 40px;
      width: 40px;
      border: 1px solid #222222;
      text-align: center;
      line-height: 40px;
      transition: .5s;
      &:hover{
            color: #ffff;
           background: #de4644;
           border: 1px solid transparent;
      }
}
.product_next{
      position: absolute;
      left: 46%;
      bottom: 25px;
      color: #222222;
      height: 40px;
      width: 40px;
      border: 1px solid #222222;
      text-align: center;
      line-height: 40px;
      transition: .5s;
      &:hover{
            color: #fff;
           background: #de4644;
           border: 1px solid transparent;
      }
}
/* end latest_product style 
   ===================*/
  